
<!-- <h2>Enter a number
<input type="text" [(ngModel)]="x" #num/>&nbsp;
<button class=" btn btn-primary" (click)="addnewdigit(num.value)">add</button><br>
Originalarray:
<span *ngFor="let digit of original">
  <b>{{digit}}</b>,&nbsp;
</span><hr>
Purepipe<br>List being sorted on component  load only<br>
<span *ngFor="let digit of purepipe | pureipe">
  <b>{{digit}}</b>,&nbsp;
  </span><hr>
  Impurepipe<br>List being sorted on component load only<br>
<span *ngFor="let digit of  impurepipe | impurepipe">
  <b>{{digit}}</b>,&nbsp;
  </span></h2>   -->



